<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 title-box">
      <h1>Sign up</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 body-box">

      <form action="">
        <div class="row align-items-center pt-4 pb-2">
          <label for="email" class="col-4 form-label mb-0">Email</label>
          <input id="email" type="text" class="col form-control" required>
        </div>

        <div class="row align-items-center pb-4 mr-4">
          <label for="email" class="col-4 form-label mb-0">Password</label>
          <input id="email" type="email" class="col form-control" required>
        </div>
        <div class="row justify-content-center">
          <button type="submit" class="btn custom-btn">Submit</button>

        </div>

      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>