.title-box, .body-box {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 15px;
  h1{
    text-align: center;
    color: #5627b9;
  }
}

.title-box{
  margin-top: 150px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.body-box{
  margin-top: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-right: 35px;

  .input-container{
    position: relative;

    span.absolute{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      right: 3%;
      cursor: pointer;
    }
  }

    .helper {
      font-size: 14px;
      ul {
        padding-left: 17px;
        li {
          &.green-right,
          &.green_right {
            color: rgb(74, 202, 74);
          }
  
          &.red-error {
            color: red;
          }
        }
      }
    }

  .custom-btn{
    background: #a94cc6;
    color: white;
    font-weight: 600;
    margin-left: 15px;
    &:disabled {
        background-color: rgb(132, 147, 162);
        cursor: auto;
      }
  }
}